<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Support</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="icon" type="image/x-icon" href="images/Chat.svg" />
  </head>
  <body class="gradient-background">
    <div class="container">
      <form action="/" id="form" class="form" method="POST">
        <h1>I am Giorgos and this is chat bot app that I made. Ask anything you want about <%= topic%></h1>
        <textarea
          id="customerQuestion"
          name="customerQuestion"
          placeholder="Ask your question here"
        ></textarea>
        <button type="submit" class="form-submit">Submit Question</button>
      </form>
      <%if (locals.content) {%> <%content.forEach(object => {%>
      <p>
        <span
          ><%if (object.role==="user") {%> You: <%} else {%> Chatbot:
          <%}%>
        </span>
        <%= object.parts[0].text %>
      </p>
      <%});%> <%} else {%>
      <p>No Chat history yet.</p>
      <%}%>
    </div>
  </body>
</html>
